/* Color Palette */
$carnelian: rgba(180, 4, 27, 1);
$lava: rgba(204, 0, 27, 1);
$bright-maroon: rgba(179, 53, 70, 1);
$russian-violet: rgba(14, 16, 61, 1);
$rhythm: rgba(118, 123, 145, 1);
$light-periwinkle: rgba(199, 204, 219, 1);
$alice-blue: rgba(225, 229, 238, 1);
$white: rgb(247, 247, 247);

html {
    background-color: $white;
}

body {
    margin: 0px; 
    font-family: 'Open Sans', sans-serif;}
#menu {
    height: 10vh;
    background-color: red;
}
header ul{
    list-style: none;
}