/* Color Palette */
* {
  padding: 0px;
  margin: 0px;
  color: #f7f7f7;
  font-size: 15px;
}

h1 {
  font-size: 30px;
}

html {
  background-color: #f7f7f7;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 15vh;
  background-color: #0e103d;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 76.5%;
  margin-left: auto;
  margin-right: auto;
}

.logoDiv {
  width: 70%;
  height: 100%;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40%;
  width: auto;
}

.navDiv {
  width: 70%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0px;
  width: 100%;
}

.menu > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin: 1%;
  position: relative;
}

.menu > ul > li > a {
  position: absolute;
  color: black;
  text-decoration: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #f7f7f7;
}

.ctaDiv {
  position: relative;
  width: 20%;
}

#cta button {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #b4041b;
  color: #f7f7f7;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
}

#cta button:hover {
  background-color: #cc001b;
}

.menu-block {
  height: 15vh;
  background: #0e103d;
}

/*CHANGE THIS INTO CSS GRID, WATCH A YT VIDEO*/
.carousel {
  position: relative;
  background-color: #0e103d;
  height: 80vh;
  width: 100vw;
}

.s1text li {
  list-style: none;
}

.s1text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: s1text;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slide1 > img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: s1img;
  position: absolute;
  height: auto;
  width: 100%;
  right: 0%;
}

.slide1 div:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: s1btn;
}

.slide1 button {
  background: #b4041b;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
}

.slide1 button:hover {
  background-color: #cc001b;
}

.slide1 {
  position: absolute;
  width: 76.5%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 5% 52.6% 10%;
      grid-template-columns: 10% auto 5% 52.6% 10%;
  -ms-grid-rows: 10% auto 5% 10% 10%;
      grid-template-rows: 10% auto 5% 10% 10%;
      grid-template-areas: ". . . . ." ". s1text . s1img ." ". s1btn . s1img ." ". s1btn . s1img ." ". . . . .";
}

.s1text hr {
  background-color: #f7f7f7;
  opacity: 0.4;
}

.s2text li {
  list-style: none;
}

.s2text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: s2text;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slide2 > img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: s2img;
  position: absolute;
  height: auto;
  width: 100%;
  right: 0%;
}

.slide2 div:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: s2btn;
}

.slide2 button {
  background: #b4041b;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
}

.slide2 button:hover {
  background-color: #cc001b;
}

.slide2 {
  position: absolute;
  width: 76.5%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 5% 52.6% 10%;
      grid-template-columns: 10% auto 5% 52.6% 10%;
  -ms-grid-rows: 10% auto 5% 10% 10%;
      grid-template-rows: 10% auto 5% 10% 10%;
      grid-template-areas: ". . . . ." ". s2text . s2img ." ". s2btn . s2img ." ". s2btn . s2img ." ". . . . .";
  display: none;
}

.s2text hr {
  background-color: #f7f7f7;
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */