/* Color Palette */
$carnelian: #b4041b;
$lava: rgba(204, 0, 27, 1);
$bright-maroon: rgba(179, 53, 70, 1);
$russian-violet: #0e103d;
$rhythm: rgba(118, 123, 145, 1);
$light-periwinkle: rgba(199, 204, 219, 1);
$alice-blue: rgba(225, 229, 238, 1);
$white: rgb(247, 247, 247);
$normal: 15px; //paragraph text 
$medium: 13px;
$large: 30px; 
$small: 11px; //captions, lesser labels, etc.
$btnpadding: 10px 30px;
* {
    padding: 0px;
    margin: 0px;
    color: $white;
    font-size: $normal;
}
h1 {
    font-size: $large;
}
html {
    background-color: $white;
}

body {
    margin: 0px; 
    font-family: 'Open Sans', sans-serif;
}

header {
    position:sticky; 
    top: 0px;
    width: 100%; 
    height: 15vh;
    background-color:rgba(14, 16, 61, 1);
}
.headerContainer {
    display: flex;
    // background-color: red;
    height: 100%;
    width: 76.5%; 
    margin-left: auto;
    margin-right: auto;
}


//LOGO PROPERTIES
.logoDiv {
    width: 70%;
    // background-color: orange;
    height: 100%;
    position: relative;
}
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // background-color: yellow;
    height: 40%;
    width: auto;
}

//MENU
.navDiv {
    // background-color: purple;
    width: 70%;
}
.menu {
    display: flex;
    height: 100%;
    // background-color: green;
    padding: 0px;
    width: 100%;
}


.menu > ul {
    list-style: none;
    display: flex;
    width: 100%;
}

.menu > ul > li {
    display: flex;
    // background-color: blue;
    width: 25%;
    margin: 1%;
    position: relative;
}

.menu > ul > li > a{
    position: absolute;
    text-decoration: none;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    // background-color: red;
    font-size: $normal;
    color:rgb(247, 247, 247); 
}

//CTA {
.ctaDiv{
    position: relative;
    width: 20%; 
    // background-color: pink;
}

#cta button{
    position: absolute; 
    top: 50%; 
    right: 0%;
    transform: translateY(-50%);
    background-color: $carnelian; 
    color:rgb(247, 247, 247); 
    border: none;
    padding: $btnpadding;
    cursor: pointer;
    border-radius: 2px;
    font-size: $normal;
}

#cta button:hover {
    background-color: $lava;
}
.menu-block {
    height: 15vh;
    background:rgba(14, 16, 61, 1);
}


//CAROUSEL
.carouselParent{
    background-color:rgba(14, 16, 61, 1); 
    width: 100vw;
    position: relative;
}
.carousel-wrapper {
    overflow: hidden; 
    width: 90%; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: $russian-violet;
}
.carousel-wrapper * {
    box-sizing: border-box;
}
.carousel { 
    position: relative;
    background-color: $russian-violet;
    height: 80vh;
    width: 100%;
    transform-style: preserve-3d;
}

.s1text li {
    list-style: none;
}
.s1text {
    grid-area: s1text;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    // background-color: aqua;
}
.slide1 > img{
    grid-area: s1img;
    position: absolute; 
    height: auto;
    width: 100%;
    right: 0%;

}
.slide1 div:nth-of-type(2){
    grid-area: s1btn;
    // background-color: green;
}

.slide1 button {
    background: $carnelian;
    border: none;
    cursor: pointer;
    padding: $btnpadding;
}

.slide1 button:hover {
    background-color: $lava;
}

.slide1 {
    // background-color: red;
    opacity: 1; //THIS NEEDS TO BE CHANGED BACK TO ZERO BRUV
    z-index: 100;
    position: absolute;
    width: 76.5%;
    height: 90%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: grid; 
    grid-template-columns: 10% auto 5% 52.6% 10%; 
    grid-template-rows: 10% auto 5% 10% 10%;
    grid-template-areas: 
    ". . . . ."
    ". s1text . s1img ."
    ". s1btn . s1img ."
    ". s1btn . s1img ."
    ". . . . .";
    transition: transform .5s, z-index .5s;
}

.s1text hr{
    background-color: $white;
}

//SLIDE 2

.s2text li {
    list-style: none;
}
.s2text {
    grid-area: s2text;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    // background-color: aqua;
}
.slide2 > img{
    grid-area: s2img;
    position: absolute; 
    height: auto;
    width: 100%;
    right: 0%;

}
.slide2 div:nth-of-type(2){
    grid-area: s2btn;
    // background-color: green;
}

.slide2 button {
    background: $carnelian;
    border: none;
    cursor: pointer;
    padding: $btnpadding;
}

.slide2 button:hover {
    background-color: $lava;
}

.slide2 {
    // background-color: red;
    position: absolute;
    width: 76.5%;
    height: 90%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: grid; 
    grid-template-columns: 10% auto 5% 52.6% 10%; 
    grid-template-rows: 10% auto 5% 10% 10%;
    grid-template-areas: 
    ". . . . ."
    ". s2text . s2img ."
    ". s2btn . s2img ."
    ". s2btn . s2img ."
    ". . . . .";
    display: none;
}

.s2text hr{
    background-color: $white;
    opacity: 0.4;
}