@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 11pt;
}

.bg {
  width: 100%;
}

#bg-img-mob {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

#bg-img-tab {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

#bg-img-web {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.fa-motorcycle {
  color: #FCFCFD;
  font-size: 15pt;
}

.logotxt {
  color: #E66F51;
  font-family: 'Lobster Two', cursive;
  font-size: 14pt;
}

li {
  list-style: none;
  cursor: pointer;
}

.navbar {
  background-color: #264653;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 3%;
  width: 100%;
}

.navbar ul {
  display: none;
}

.nav-links-cont {
  display: none;
}

.fa-bars {
  color: #FCFCFD;
  border: 1.5px solid #ffffff50;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.logoDiv {
  cursor: pointer;
}

.scroll-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background: #1c343f;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.scroll-ul {
  -webkit-clip-path: inset(0px 0px 100% 0px);
          clip-path: inset(0px 0px 100% 0px);
  -webkit-transition: 1s -webkit-clip-path ease;
  transition: 1s -webkit-clip-path ease;
  transition: 1s clip-path ease;
  transition: 1s clip-path ease, 1s -webkit-clip-path ease;
}

.scroll-active {
  -webkit-clip-path: inset(0px 0px 0% 0px);
          clip-path: inset(0px 0px 0% 0px);
}

.scroll-menu-container a {
  color: #FCFCFD;
  text-decoration: none;
}

#login {
  display: none;
}

/*CAROUSEL*/
.container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background: #264653;
  height: auto;
  position: relative;
  padding-top: 12vh;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.slide button {
  border: none;
  padding: 10px 25px;
  background-color: #E66F51;
  color: #FCFCFD;
  width: 50%;
  position: relative;
  cursor: pointer;
}

.slide {
  color: #FCFCFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.featured {
  width: 100%;
  overflow: hidden;
}

.featured-cont {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCFCFD;
}

.featured h2 {
  color: #1c343f;
  font-size: 18pt;
  margin-bottom: 2%;
}

.featured-cont hr {
  margin-top: 2px;
  border: none;
  background: #E66F51;
  height: 1px;
  width: 15%;
}

.featured p {
  color: #E66F51;
  font-size: 11pt;
}

.featured img {
  width: 90%;
}

/*Latest News*/
.latest-news {
  width: 100%;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCFCFD;
}

.latest-news-cont {
  background-color: #FCFCFD;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.latest-news img {
  width: 100%;
}

.latest-news h2 {
  font-size: 18pt;
  color: #264653;
  padding-top: 10%;
}

.latest-news button {
  padding: 10px 25px;
  background-color: transparent;
  border: 1.6px solid #E66F51;
  border-radius: 3px;
  color: #E66F51;
  margin-top: 10%;
  cursor: pointer;
}

.latest-news p {
  margin-top: 3%;
  font-family: 11pt;
}

.latest-news h3 {
  margin-top: 4%;
}

@media only screen and (min-width: 769px) {
  #bg-img-mob {
    display: none;
  }
  #bg-img-tab {
    display: block;
  }
  #bg-img-web {
    display: none;
  }
  #login {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #bg-img-mob {
    display: none;
  }
  #bg-img-tab {
    display: none;
  }
  #bg-img-web {
    display: block;
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  .nav-links-cont {
    height: 100%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .nav-links-cont {
    display: block;
  }
  .navbar ul {
    gap: 30px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger-icon {
    display: none;
  }
  .logo {
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
  }
  #login {
    background-color: #E66F51;
    color: #FCFCFD;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    cursor: pointer;
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */