//VARIABLES
$charcoal: #264653;
$burnt-sienna: #E66F51;
$white: #FCFCFD;
$columbia-blue: #B2CED9;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-image: url("ss/mobile-ss-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-motorcycle {
    color: $white;
}